 /* 
 * @Author: nooldey 
 * @Author-Email: <nooldey@gmail.com> 
 * @Date: 2017-11-23 17:01:14 
 * @Last Modified by: nooldey
 * @Last Modified time: 2017-11-30 16:10:31
 * @Description: 全站加载样式
 */

@import './base/reset',
'./base/mixin';
/* site style */

.layout {
    padding: 20px;
    color: #666;
}

.ui-button {
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    min-width: 130px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background: #1068ad;
}
del {
    color: red;
}
/* page */

.wrapper {
    height: calc(100vh - 100px);
    overflow-y: auto;
}
.btns {
    margin: 15px auto;
    text-align: center;
}
.flexil {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    >span,>p {
        flex: 1;
        text-align: center;
    }
    >p {
        span {
            display: block;
        }
    }
    input {
        border: none;
        text-align: center;
    }
    &.title {
        margin-bottom: 10px;
        font-weight: 600;
        background: #f8f8f8;
    }
}